body{
    margin:0;
    padding:0;
    background:#0d0d0d;
    color:white;
    font-family:'Poppins',sans-serif;
}

.container{
    text-align:center;
    margin-top:60px;
}

h1{
    color:#d8b4ff;
    font-size:70px;
    font-family:'Great Vibes', cursive;
    text-shadow:0 0 20px #b57edc;
}

h2{
    color:#ffffff;
}

p{
    color:#cccccc;
    font-size:20px;
}

.cake{
    font-size:130px;
    margin:30px;
}

button{
    background:#b57edc;
    color:white;
    border:none;
    padding:15px 30px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#d8b4ff;
}
